.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // .header__wrapper

  &__wrapper {
  }

  // .header__container

  &__container {
  }

  // .header__body

  &__body {
  }

  // .header__main

  &__main {
  }

  // .header__logo

  &__logo {
  }

  // .header__menu

  &__menu {
  }

  // .header__search

  &__search {
  }

  // .header__actions

  &__actions {
  }
}
.lock-padding {
}
.container {
}
.menu {

  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
  }

  // .menu__arrow

  &__arrow {
  }

  // .menu__sub-list

  &__sub-list {
  }

  // .menu__sub-item

  &__sub-item {
  }

  // .menu__sub-link

  &__sub-link {
  }
}
// . {

//   // ._icon-arrow-down

//   &_icon-arrow-down {
//   }

//   // ._icon-search

//   &_icon-search {
//   }

//   // ._icon-favorite

//   &_icon-favorite {
//   }

//   // ._icon-cart

//   &_icon-cart {
//   }

//   // ._ibg

//   &_ibg {
//   }
// }
.search-form {

  // .search-form__icon

  &__icon {
  }

  // .search-form__item

  &__item {
  }

  // .search-form__input

  &__input {
  }
}
.actions-header {

  // .actions-header__item

  &__item {

    // .actions-header__item_favorites

    &_favorites {
    }

    // .actions-header__item_user

    &_user {
    }
  }
}
.cart-header {

  // .cart-header__icon

  &__icon {
  }

  // .cart-header__body

  &__body {
  }

  // .cart-header__list

  &__list {
  }
}
.cart-list {
}
.icon-menu {
}
